.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 50rem;
  background-color: var(--color-bg-soft);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
  border-radius: 5px;
}
