.heading {
  font-size: 2.4rem;
  font-weight: 300;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 2rem 0rem;
}

.details {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.postBtn {
  padding: 0.5rem 1rem;
  background-color: var(--color-danger);
  color: var(--color-text);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
