.container {
  display: flex;
  gap: 10rem;
}

.imgContainer {
  flex: 1;
  position: relative;
  width: 67.8rem;
}

.img {
  object-fit: contain;
  min-width: 50rem;
}

.formContainer {
  flex: 1;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.formRow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.submitForm {
  border-color: var(--color-brand);
}

.submitForm:hover {
  color: var(--color-brand);
  background-color: var(--color-bg-light);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .imgContainer {
    flex: none;
    height: 30rem;
    width: 100%;
  }
}
