.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
}

.form input {
  padding: 2rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  border: none;
  border-radius: 5px;
}

.form button {
  padding: 2rem;
  cursor: pointer;
  background-color: var(--color-btn);
  color: var(--color-text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
