.container {
  display: flex;
  gap: 10rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 3rem;
  font-size: 2rem;
}

.heading {
  font-size: 4.4rem;
  font-weight: 600;
}

.action {
  cursor: pointer;
  color: var(--color-brand);
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: 57.1rem;
}
