.container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.row {
  display: flex;
  gap: 10rem;
}

.col {
  flex: 1;
}

.col img {
  object-fit: cover;
  border-radius: 50%;
}

.line {
  margin: 10rem;
  color: var(--color-bg-light);
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}
