.logout {
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  color: var(--color-text-dark);
  background-color: var(--color-bg-light);
}

.logout:hover {
  /* color: var(--color-bg); */
  background-color: var(--color-bg-light);
  color: var(--color-brand);
}
