.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
}

.formRow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formRow input {
  background-color: var(--color-bg);
}

.formRow label {
  text-align: left;
}

.error {
  color: var(--color-danger-light);
}

.login a {
  font-weight: 600;
  transition: color 0.3s;
}

.login a:hover {
  color: var(--color-brand);
}
